---
import PageLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'
import Card from '../components/Card.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Label from '../components/Label.astro'
import SkillLayout from '../components/SkillLayout.astro'
import PostPreview from '@/components/blog/PostPreview.astro'

import { getAllPosts, sortMDByDate } from '@/utils'

const languages = ['Social Media Management', 'Content Strategy', 'Market Research']
const frontend = []
const backend = []
const others = ['Newsletter Management', 'Event Organizing']

const MAX_POSTS = 10
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Nhi Le - Portfolio' }}>
	<div class='flex w-full flex-col gap-y-10'>
		<section class='flex flex-col items-center gap-y-7'>
			<div class='h-28 w-28 rounded-full bg-[#FFBE98] p-2'>
				<img
					src='/profile-photo.jpg'
					alt='profile photo'
					class='h-full w-full rounded-full object-cover'
				/>
			</div>

			<div class='flex flex-col items-center gap-y-4'>
				<h1 class='text-3xl font-bold'>Nhi Le</h1>
				<p class='text-muted-foreground'>Aspiring media practitioner passionate about purposeful and community-minded marketing.</p>
				<div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
					<Label title='Portfolio' as='a' href='https://itsnhile.com/' target='_blank'></Label>
					<Label title='Connect on Linkedin' as='a' href='https://www.linkedin.com/in/example/' target='_blank'></Label>
				</div>
			</div>
		</section>

		<Section title='About'>
			<p class='text-muted-foreground'>
				Aspiring media practitioner with a proven track record in content strategy, social media management, event organization, and partnership management. Currently pursuing a Master of Communication Sciences at KU Leuven with a thesis on influencer marketing.
			</p>
		</Section>

		<Section title='Experience'>
			<Card
				heading='Marcom Lead'
				subheading='PROPTECH LAB, Brussels'
				date='February 2023 - Present'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>Built social media content strategy and managed 5 company pages.</li>
					<li>Organized industry and partnership events.</li>
					<li>Managed bi-weekly newsletter with 35% open rate and 1.8% click rate.</li>
				</ul>
			</Card>

			<Card
				heading='Strategic Product Lead'
				subheading='FLEXOS, Singapore'
				date='August 2023 - June 2024'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>Strategized and produced weekly AI-focused newsletter with 35,000 subscribers and 50% open rate.</li>
				</ul>
			</Card>
		</Section>

		<Section title='Education'>
			<Card
				heading='Master of Communication Sciences'
				subheading='KU Leuven'
				date='Graduation: 09/2024'
			>
				<p class='text-muted-foreground'>Thesis: "You Shouldn’t Buy This Product": Comparing the Effects of Influencers’ Product Endorsement and Deinfluence on Purchase Intentions</p>
			</Card>

			<Card
				heading='Bachelor of Communication'
				subheading='Fulbright University Vietnam'
				date='Graduation: 06/2023'
			>
				<p class='text-muted-foreground'>Thesis: Film Censorship in Vietnam: Negotiating Control, Promotion, and Popular Demand</p>
			</Card>
		</Section>

		<Section title='Projects'>
			<div class='flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
				<ProjectCard
					href='https://fulbrighteventhub.wixsite.com/portfolio'
					heading='Fulbright Event Hub'
					subheading='Led a 25-member team to organize cultural events, earning Fulbright Club of the Year 2021.'
					imagePath='/src/assets/coming-soon.png'
					altText='Fulbright Event Hub'
					class='w-full sm:w-1/2'
				/>
				<ProjectCard
					href='https://example.com'
					heading='AI Newsletter Initiative'
					subheading='Produced and strategized a weekly newsletter on AI, engaging 35,000 subscribers.'
					imagePath='/src/assets/coming-soon.png'
					altText='AI Newsletter'
					class='w-full sm:w-1/2'
				/>
			</div>
		</Section>

		<Section title='Skills'>
			<SkillLayout title='Languages' skills={languages} />
			<SkillLayout title='Others' skills={others} />
		</Section>
	</div>
</PageLayout>


